{% extends 'sns/base.html' %}
{% block detail %}active{% endblock %}

{% block body %}
    <div class="row mt-3">
        <div class="col-12 col-md-6">
            <div class="card">
                {% if posting.image %}
                    <img src="{{ posting.image.url }}" class="card-img-top image-fluid" alt="{{ posting.image }}">
                {% else %}
                    <img src="http://lorempixel.com/300/200" alt="random image" class="card-image-top img-fluid">
                {% endif %}

                <div class="card-body">
                    <i class="{{ posting.icon }}"></i>
                    <hr>
                    <p class="card-text">{{ posting.content }}</p>
                </div>
            </div>

            <div class="card mt-2">
                <div class="card-body">
                    <form action="{% url 'sns:craete_comment' posting.id %}" method="POST">
                        {% csrf_token %}
                        <label for="comment">leave comment</label>
                        <input type="text" name="comment" id="comment" class="form-control">
                    </form>
                </div>
            </div>
        </div>


        <div class="col-12 col-md-6">
            <div class="card">
                <ul class="list-group list-group-flush">
                    {% if comments %}
                        {% for comment in comments %}
                            <li class="list-group-item mb-1">{{ comment.content }}</li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item mb-1">No comments yet..</li>

                    {% endif %}
                </ul>
            </div>

        </div>
    </div>

{% endblock %}