<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">

    <title>Document</title>
    <style>
        .completed {
            color: gray;
            text-decoration: line-through;
        }
    </style>
</head>
<body>
<div id="app">
    <select v-model="status">
        <option value="all">모두 보기</option>
        <option value="active" selected>안 끝</option>
        <option value="completed">끝!</option>
    </select>
    <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo()">
    <button @click="addTodo()">+</button>
    <button @click="clear()">Clear Completed</button>
    <ol v-if="todos.length">
<!--        <li v-for="todo in todos" v-on:click="check(todo)" v-bind:class="{competed: todo.completed}">-->
        <li
                v-for="todo in groupTodos"
                v-bind:class="todo.completed ? 'completed': ''"
                :key="todo.id"
        >
            <input type="checkbox" v-model="todo.completed" @change="updateTodo(todo)">
            {{ todo.content }}
        </li>
<!--        <li v-else v-on:click="check(todo)">[완료!]</li>-->
    </ol>
</div>

<script src="./vue.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.9.1/firebase.js"></script>
<script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
<script>
    // Initialize Firebase
    // TODO: Replace with your project's customized code snippet
    const config = {
        apiKey: "AIzaSyCxYcjDMcb6hGqCVBVK6q98Qv8iMtoIC-A",
        databaseURL: "https://todo-vue-7d93e.firebaseio.com",
        projectId: "todo-vue-7d93e",
    };
    firebase.initializeApp(config);

    const database = firebase.database()
</script>

<script>

    const app = new Vue({
        el: '#app',
        data: {
            todos: database.ref('todos'),
            newTodo: '',
            status: '',

        },
        firebase: {
            todos: database.ref('todos'),
        },
        methods: {
            check: function (todo={}) {
                todo.completed = !todo.completed;
            },
            addTodo() {
                if (this.newTodo) {
                    this.$firebaseRefs.todos.push({
                        id: Date.now(),
                        content: this.newTodo,
                        completed: false,
                    });
                    this.newTodo="";
                }
            },
            clear() {
                const completedTodos = this.todos.filter(res => res.completed);
                completedTodos.forEach(todo => {
                    this.$firebaseRefs.todos.child(todo['.key']).remove()
                })
            },
            updateTodo (todo) {
                const newTodo = { ...todo }; // deepcopy
                delete newTodo['.key']; // key - value 페어 삭제
                this.$firebaseRefs.todos.child(todo['.key']).set(newTodo); // 원래 배열에 child 따위는 없다. firebase에서 제공해주는 거실뿐.
            }
        },
        computed: {
            groupTodos: function () {
                if (this.status === 'active') {
                    return this.todos.filter(todo => !todo.completed);

                } else if (this.status === 'completed') {
                    return this.todos.filter(todo => todo.completed);
                } else {
                    return this.todos
                }
            }
        },
        watch: {
            todos: {
                deep: true,
                handler: function (todos) {
                    todosApp.save(todos)
                }
            },

        }
    })
</script>
</body>
</html>